@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body{
    margin: 0px;
    padding: 0px;
}

header{
    position: fixed;
    display: flex;
    top: 0;
    z-index: 10;
    height: 8vh;
    width: 100%;
    background-color: #4D7332;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.titulo{
    margin-left: 2vh;
    padding: 0px;
    color: #F2F2F2;
    font-size: 1.5vh;
    width: 50vw;
    font-family: Roboto Slab;
    
}

main{
    position: absolute;
    margin-top: 15vh;
    height: 85vh;
    width: 100%;
    overflow-y: auto;
}

.project-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7vh;
    width: 95vw;
    background-color: #F2F2F2;
    margin-top: 7vh;
    margin-left: 2vw;
}

.box{
    background-color: white;
    width: 30vh;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-top: 10px;
}


.icone-menu {
    margin-left: 47vw;
    margin-top: 1vh;
    font-size: 4vh;
    cursor: pointer;
    color: #F2F2F2;
}

.itens-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.itens-menu li {
    margin-right: 15px;
}

.itens-menu a {
    text-decoration: none;
    color: white;
}

/* ... Seu código CSS ... */

.menu-aberto .itens-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
    background-color: #333;
    padding: 10px;
    border: 1px solid white;
    opacity: 0;
    transform: translateY(-10px);
}

/* Adicionando animação suave ao menu aberto */
.menu-aberto .itens-menu {
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


  